.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.content {
  height: 80vh;
  max-height: 80vh;
  overflow: scroll;
  overflow: hidden;
}

.ce-block {
  border-bottom: 2px solid #b9d6fa;
}

.ce-toolbar__settings-btn,
.ce-toolbar__plus {
  display: none !important;
}
